<form  #editStd="ngForm" novalidate>
  <div class="col-md-1">

  </div>
  <div class="col-md-11">
    <div class="row">
      <div class="col-lg-3 col-md-6">
          <div class="form-group m-b-15">
            <label for="project">Name<span class="mandatory">*</span></label>
            <input type="text" class="form-control" [(ngModel)]="editStdDetaails.name" name="studentname" id="studentname" required>
            <span class="bar"></span>
             <span *ngIf="!editStdDetaails.name && error" class="error-text">
                  Name is required
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="form-group m-b-15">
              <label for="project">DOB<span class="mandatory">*</span></label>
              <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="editStdDetaails.dob" required></my-date-picker>
              <span class="bar"></span>
               <span *ngIf="!editStdDetaails.dob && error" class="error-text">
                    DOB is required
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6">
              <div class="form-group m-b-15">
                <label for="project">Address<span class="mandatory">*</span></label>
                <input type="text" class="form-control" [(ngModel)]="editStdDetaails.addr" name="addr" id="addr" required>
                <span class="bar"></span>
                 <span *ngIf="!editStdDetaails.addr && error" class="error-text">
                      Address is required
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="form-group m-b-15">
                  <label for="project">Phone<span class="mandatory">*</span></label>
                  <input type="text" class="form-control" [(ngModel)]="editStdDetaails.phone" name="phone" id="phone" required>
                  <span class="bar"></span>
                   <span *ngIf="!editStdDetaails.phone && error" class="error-text">
                        Phone is required
                  </span>
                </div>
              </div>
            </div>
              <button type="button" id="owaddClientBasicInfo" (click)="editStudent(editStd)" class="btn btn-info pull-right">Update details</button>
  </div>
</form>